body {
    margin: 20;
    text-align: center;
    /* background-image: url("./images/1.jpg");
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: 100%; */
    /* background-color: black; */
}

/* a {
    font-size: 112px;
} */

.name {
    border: none;
    width: 100%;
    font-size: 35px;
    /* margin-top: 55px; */
    text-align: center;
    padding: 33px;
    /* background-image: url("./images/55.jpg");
    background-repeat: no-repeat;
    background-position: center-top;
    background-size: 100%;
    height: 400px; */
}


.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    background-color: lightseagreen;
    font-size: 45px;
    
}
p {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: lightseagreen;
    background: #000; */
    /* text-shadow: 1px 1px 1px lightseagreen */
}
img {
    border: solid;
    border-color: black;
    justify-content: space-between;
}


.footer {
    border: none;
    background-color: #5e21bfc0;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    font-size: 175%;
}

#nav {
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-evenly;
    background-color: white;
    /* background: linear-gradient(to bottom, lightseagreen, seagreen);  */
    /* height:25px; */
    /* padding: 5px; */
    position: fixed;
    top: 0px;
    /* opacity: 0.5;
    filter: alpha(opacity=50) */
    z-index: 100;
    box-sizing: border-box;
    outline: solid;
    outline-color: white;
    
}

#nav ul {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0px;
    padding: 0;
    width: 100%;
    max-width: 900px; 
}

#nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin: 0; 
}

#nav a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    /* background-color: lightseagreen; */
    float: left;
    font-size: 48px;
    /* outline: solid;
    outline-color: #FFF;
    box-sizing: border-box; */
}

.ContactButton {
    margin-bottom: 20px;
    padding-top: 90px;
}

#Contact a:link, a:visited {
padding: 30px;
text-decoration: none;
font-weight: bold;
color: #000000;
background-color: lightseagreen;
justify-content: center;
font-size: 33px;
outline: solid;
outline-color: #000000;
box-sizing: border-box;
margin-top: 20px;
}

a:hover, a:active {
background-color: lightcoral;
}


.Tabs__item {
    display: none;
    cursor: pointer;
}

.Tabs__item-selected {
display: block;
cursor: pointer;

}

.Tabs__link {
box-sizing: border-box;
padding: 10px 15px;
margin: 10px;
background-color: lightseagreen;
cursor: pointer;
border: solid;
border-color: #000
}

.Tabs__link-selected {
background-color: salmon;
/* border: solid 1px lightseagreen; */
cursor: pointer;
}

.List {
left: 0;
margin: 20px 0;

}

.List__item {
display: inline;
font-size: 33px;
}
.Box__title {
font-size: 45px;;
font-weight: bold;
margin-bottom: 15px;
}

.Box--gray {
background-color:white;
}

.Box--blue {
background-color: white;
}

.Box--green {
background-color: white;
}
.Section {
	box-sizing: border-box;
	display: inline-block;
	clear: both;
	width: 100%;
	margin: 0;
	position: relative;
}

.Section__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Section__full {
	padding: 20px;
}

.Section__half-left {
	padding: 20px;
}
