body {
    margin: 20;
}

a {
    font-size: 33px;
}

.name {
    border: none;
    text-align: center;
    width: 100%;
    font-size: 35px;
    margin-top: 170px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: lightseagreen;
    font-size: 45px
}
p {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.footer {
    border: none;
    background-color: #5e21bfc0;
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    font-size: 175%;
}

#nav {
    display: flex;
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: #5e21bfc0; */
    height:45px;
    padding: 45px;
    /* position: fixed; */
    top: 0px;
}

#nav ul {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0px;
    padding: 0;
    width: 100%;
    max-width: 900px; 
}

#nav li {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    margin: 0; 
}

a:link, a:visited {
padding: 45px;
text-decoration: none;
font-weight: bold;
color: #FFFFFF;
background-color: #5e21bfc0;
float: left;
font-size: 33px;
}

a:hover, a:active {
background-color: lightcoral;
}



.Tabs__item {
    display: none;
    cursor: pointer;
}

.Tabs__item-selected {
display: block;
cursor: pointer;

}

.Tabs__link {
box-sizing: border-box;
padding: 10px 15px;
margin: 10px;
background-color: #5e21bfc0;
cursor: pointer;
}

.Tabs__link-selected {
background-color: salmon;
/* border: solid 1px lightseagreen; */
cursor: pointer;
}

.List {
left: 0;
margin: 20px 0;

}

.List__item {
display: inline;
font-size: 33px;
}
.Box__title {
font-size: 45px;;
font-weight: bold;
margin-bottom: 15px;
}

.Box--gray {
background-color:white;
}

.Box--blue {
background-color: white;
}

.Box--green {
background-color: white;
}
.Section {
	box-sizing: border-box;
	display: inline-block;
	clear: both;
	width: 100%;
	margin: 0;
	position: relative;
}

.Section__title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
}

.Section__full {
	padding: 20px;
}

.Section__half-left {
	padding: 20px;
}
